:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-thema-dark: #ffffff;
    --primary-text-color-thema-ligt: #2E2F42;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-white-color: #FFFFFF;
    --accent-color: #4D5AE5;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
    letter-spacing: 0.02em;
}
/*.header { 

}*/
.menu{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 0.7;
    font-style: normal;
}
.menu:hover,
.menu:focus {
    color: var(--accent-color);
}
/*.main-nav {}*/

/*===============Logo===========*/
.logo-text1 {
color: #4D5AE5;
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 0.75;

}
.logo-text2 {
color: var(--primary-text-color);
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 0.75;
}
/*===============/Logo===========*/
/*===========Hero=======*/
.hero-titel {
color: var(--primary-text-color);
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
}
/*===========/Hero=======*/
/*===========Section=======*/
.section-titel {
color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 0.9;
text-align: center;
text-transform: capitalize;
}
.list-titel {
color: var(--primary-text-color);
font-weight: 500;
font-size: 20px;
line-height: 0.8;
}
.list-text {
color: var (--secondary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 0.7;
}
/*===========/Section=======*/
/*========Button========*/
/*.btn-text{
    
} */
.modal-btn {
   font-weight: 500;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.04em;

}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color)
}